{% load staticfiles %}

<html>
    <head>
        <title>Salsa in the DMV</title>
        <link rel="stylesheet" href="{% static 'css/bachata.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    </head>
    <body>
        <h1 class= 'base-heading'><span class= 'salsa-word'>Salsa</span> in the DMV</h1>
         <div class='salsa-image'><img src="../../static/css/latin.png" alt="salsa"></div>
        <nav>
            <h1><a href="/"> Upcoming Salsa Events</a></h1>
            <div class="user-info">
                {% if user.is_authenticated %}
                    Welcome, {{ user.username }}
                    <a href="{% url 'logout' %}">Signout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}"><i class="fas fa-user-plus" style="font-size:20px;"></i></a>
                {% endif %}
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>