{% extends 'bachata/base.html' %}
{% block content %}


<div class='events-container'>
    <h3 class='blink_me' >Upcoming Events</h3>
   
            <ul>
                    {% for event in events %}
                    <div class= 'pretty-scroll'>
                        <li>
                            <div class='event-date'><span class='event-date-content'>{{event.date}}</span></div>
                                    <div class='shadow-box'>
                                            <a href="{% url 'event_detail' pk=event.pk %}">{{ event.name }}</a>
                                    </div>
                        </li>
                    </div> 
                    {% endfor %}
            </ul>
   
        <a href="{% url 'event_create'%}"><i class="fas fa-plus-circle" style="font-size:80px; "></i></a>
</div>

{% endblock %}