{% extends 'bachata/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class='signup-container'->
    <h2><div class='signup-header'>Sign up</div></h2>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <!-- <small style="color: grey">{{ field.help_text }}</small> password guidelines -->
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button class='signup-button' type="submit">Sign up</button>
      </form>
</div>
{% endblock %}