body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: auto;
  
}

.base-heading {
  margin-top: 2em;
  margin-left: 3em;
  font-size: 100px;
  font-family: fantasy;
  text-shadow: 3px 3px rgb(113, 113, 113);
  color: #2a152b;

}

.salsa-word{
  font-size: 150px;
  
}

.salsa-image{
  margin-top: -6.5em;
}

.upcoming-events-heading{
  font-size: 40px;
  margin-left: 10px;
}

.add-event{
  float: right;
  margin-right: 2em;
}
nav a {
  border-radius: 2px;
  margin: .5em;
  padding: .5em;

}

nav a:hover {
  background-color: rgb(170, 211, 216);
  color: black;
}

a,
a:visited {

  text-decoration: none;
  color: black;
}


ul {
  list-style-type: none;
}

li {
  margin: .25em;
}

input {
  display: block;
  margin: 5px 0 20px 0;
  padding: 9px;
  border: solid 1px black;
  width: 300px;
  background: whitesmoke;
}

input[type=submit],
a.delete {
  width: auto;
  padding: 9px 15px;
  background-color: gray;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
}



.user-info  {
  margin-top: -47.5em;
  margin-right: 2px;
  padding: 16px;
  padding-top: 2em;
  padding-right: 2em;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}
 

.user-info a {
 float: right;
 margin-top: -1.5em;
 
}
.signup-header{
  position: absolute;
  margin-top: -8em;
  margin-left: 6em;
  font-size: 30px;

}

.signup-container{

  top: 23.5em;
  right: 38.5em;
  position: absolute;
}

.signup-button{
padding: 10px;
 font-size: 16px;
 border-radius:3px;
}

.signup-button:hover{
  color: black;
  background-color: rgb(191, 238, 191);
}

.login-form {
  top: 12em;
  right: 19em;
  position: absolute;

}

.login-word{
  position: absolute;
  font-size: 30px;
  margin-top: -1em;
  margin-left: -14em;
}

.login-button{
 padding: 10px;
 font-size: 16px;
 border-radius:3px;
}

.login-button:hover{
  color: black;
  background-color: rgb(191, 238, 191);
}

.forgot-password{
  display: block;
  margin-top: 1em;
}

.forgot-password:hover{
  color: red;
}