body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 50px 0 0;
  padding: 2em 1em;
}

.base-heading {
  margin-top: 2em;
  margin-left: 3em;
  font-size: 100px;
  font-family: fantasy;
  text-shadow: 3px 3px rgb(113, 113, 113);
  color: #2a152b;
}

.salsa-word{
  font-size: 150px;
  
 
}

.salsa-image{
  margin-top: -6.5em;
}

nav a {
  border-radius: 2px;
  margin: .5em;
  padding: .5em;
  background-color: #eeeeee;
}

nav a:hover {
  background-color: rgb(170, 211, 216);
  color: black;
}

a,
a:visited {

  text-decoration: none;
  color: black;
}

a:hover {
  background-color: #ccc;
}

ul {
  list-style-type: none;
}

li {
  margin: .25em;
}

input {
  display: block;
  margin: 5px 0 20px 0;
  padding: 9px;
  border: solid 1px black;
  width: 300px;
  background: whitesmoke;
}

input[type=submit],
a.delete {
  width: auto;
  padding: 9px 15px;
  background-color: gray;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
}



.user-info  {
  float: right;
  padding: 10px;
  margin-top: -55em;
  margin-right: 2px;
}
 
